<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home" style="background-color: ghostwhite;">
<!-- Carousel Fixed Height -->
<section class="carousel-fixed-height">
    <div id="carousel-fixed-height" style="z-index:1;" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-fixed-height" data-slide-to="0" class=""></li>
        <li data-target="#carousel-fixed-height" data-slide-to="1" class=""></li>
        <li data-target="#carousel-fixed-height" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <div carousel style="background:url('https://i.imgur.com/Tp5XzjT.jpg') center center; background-size:cover;" class="slider-size">
            <div class="caption" style="bottom: calc(36%) !important;">
              <h2 class="car-head" style="">Microsoft Software Development Track</h2>
              <p class="car-text" style="">Bring life to the modern world through software </p>
              <p  class="car-text nudge-2"style="">Gain skills needed for one of the fastest growing careers today</p>
              <div class="nudge-4" style="">
                 <a type="button" href="/tracks/software-development/" class="btn btn-secondary car-button">Learn More</a>
              </div>
            </div>
        </div>
        </div>
        <div class="item">
          <div style="background:url('https://i.imgur.com/9wpf7lC.jpg') center center; background-size:cover;" class="slider-size">
            <div class="caption">
              <h2 class="car-head" style="">Microsoft Artificial Intelligence Track</h2>
              <p class="car-text" style="">Help build an increasingly intelligent world</p>
              <p class="car-text nudge-2" style="">Take the Microsoft A.I. track now</p>
              <div class="nudge-4" style="">
                 <a type="button" href="/tracks/ai" class="btn btn-secondary car-button">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item active">
          <div style="background:url('https://i.imgur.com/SVV7bhX.jpg') center center; background-size:cover;" class="slider-size">
           <div class="caption">
              <h2 class="car-head" style="">Microsoft Data Science Track</h2>
              <p class="car-text" style="">Learn the skills needed for the most in demand career of the 21st century</p>
              <p class="car-text nudge-2" style="">Begin your journey in Data Science</p>
              <div class="nudge-4" style="">
                 <a type="button" href="/tracks/data-science" class="btn btn-secondary car-button">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-fixed-height" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-fixed-height" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <!-- /end Carousel Fixed Height -->

	<div class="filler"></div>
        <div class="track-container containter-cover">
        <%include file="track_list.html" />
        </div>     

<!-- <div id="modal" class="hidden-xs modal home-page-video-modal video-modal" style="position:fixed; top:25%;left: 29%;">
	<div class="modal-header">
    		<button id="close" type="button" style="float:right; margin-bottom: 1%" class="close full-height" data-dismiss="modal" aria-hidden="true">X</button>
	<div class="inner-wrapper">
        	<iframe width="640" height="360" src="https://www.youtube.com/embed/RTtfa_6EgpY?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  	</div>
</div> -->
   </section>
</main>


<!--<script type="text/javascript">
$(document).ready(function() {
    $("#modal").delay(2000).fadeIn(500);
});


var button = document.getElementById('close');

button.onclick = function() {
    var div = document.getElementById('modal');
    div.style.display = 'none';
    div.parentNode.removeChild(div);
};
</script> -->

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
